footer{
  padding: 20px;
  background-color: $wit;
  border-bottom: solid 3px $zwart;
  border-right: solid 3px $zwart;
  border-left: solid 3px $zwart;
  height: 150px;
  //margin-top: 20px;
  position: inherit;
  bottom: 0;
  width: 97.7%;
  display: flex;
  justify-content: center;
}

h2 {
  color: $warmrood;
}

#sidebar-footer{
  //background-color: red;
  //display: flex;
  //justify-content: space-around;

  .widget{
    margin-right: 30px;
  }
}