footer{
  padding: 20px;
  background-color: $wit;
  border: solid 3px $zwart;
  height: 150px;
  //margin-top: 20px;
  position: inherit;
  bottom: 0;
  width: 97.3%;
  display: flex;
  justify-content: center;
}

h2 {
  color: $warmrood;
}

Footerlogos{
  width: 50px;
  height: 50px;
}

#sidebar-footer{
  //background-color: red;
  //display: flex;
  //justify-content: space-around;

  .widget{
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1950px){
  footer{
    width: 97.8%;
  }
}

@media only screen and (max-width: 800px){
  footer{

    display: flex;
    flex-direction: row;
  }
}