$menu-item-bg: #FFFFFF;
$active-menu-item: #E24426;
$font-title: xx-large;
$font-desc: large;


// Hoofdkleuren

$zwart: #000000;
$wit: #FFFFFF;
$ijsblauw: #83ECFE;
$warmrood: #E24426;
$magenta: #F264EB;
$donkerblauw: #1B06EA;
$geel: #FFFF5E;
$groen: #80D362;
