@import "variables";

.home-foto{
  margin-bottom: 40px;
}

.scav-hunt{
  color: #1B06EA;
  //font-weight: bolder;
}
.has-text-align-center{
  font-weight: bolder;
}

.poster{
  margin-top: 20px;
  width: 100%;
}

.scroll{
  width: 500px;
  height: 250px;
  overflow: auto;
}

